trunk/WiiTransfer/WiimoteTest/Service References/WiiService/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Microsoft.ServiceModel.Samples" elementFormDefault="qualified" targetNamespace="http://Microsoft.ServiceModel.Samples" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/Service?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WiimoteTest" />
  <xs:element name="SendWiimoteData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WiimoteTest" minOccurs="0" name="wiidata" nillable="true" type="q1:ArrayOfSignalSample" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendWiimoteDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>